# .gitattributes
# This file is used to define how Git handles line endings and
# binary files in a repository. It ensures consistency across
# different environments and platforms.
# For more information, visit: https://git-scm.com/docs/gitattributes

# -----------------------------------------------------------
# General
# -----------------------------------------------------------

# Auto-detect text files and normalize their line endings to LF.
*                    text=auto eol=lf

# -----------------------------------------------------------
# Source Code Files
# -----------------------------------------------------------

# Shell scripts
*.bash               text eol=lf
*.sh                 text eol=lf

# Batch files for Windows
*.bat                text eol=crlf
*.cmd                text eol=crlf

# Various programming languages
*.coffee             text
*.css                text diff=css
*.htm                text diff=html
*.html               text diff=html
*.inc                text
*.ini                text
*.js                 text
*.json               text
*.jsx                text
*.less               text
*.ls                 text
*.map                text -diff
*.od                 text
*.onlydata           text
*.php                text
*.pl                 text
*.ps1                text eol=crlf
*.py                 text diff=python
*.rb                 text diff=ruby
*.sass               text
*.scm                text
*.scss               text diff=css
*.sql                text
*.styl               text
*.tag                text
*.ts                 text
*.tsx                text
*.xml                text
*.xhtml              text diff=html
*.java               text

# Dart/Flutter files
*.dart               text

# -----------------------------------------------------------
# Configuration Files
# -----------------------------------------------------------

# Configuration and settings files
*.cnf                text
*.conf               text
*.config             text
.editorconfig        text
.env                 text
.gitattributes       text
.gitconfig           text
.htaccess            text
*.lock               text -diff
package.json         text eol=lf
package-lock.json    text -diff
pnpm-lock.yaml       text eol=lf -diff
.prettierrc          text
yarn.lock            text -diff
*.toml               text
*.yaml               text
*.yml                text
browserslist         text
.browserslistrc      text
Makefile             text eol=lf
makefile             text eol=lf
*.mk                 text eol=lf
.shellcheckrc        text eol=lf
.eslintrc            text
.eslintrc.js         text

# RC files (like .babelrc, .eslintrc)
*.*rc                text

# Ignore files (like .npmignore, .gitignore)
*.*ignore            text
*.gitignore          text

# Node Version Manager (NVM)
*.nvmrc              text eol=lf

# Heroku
Procfile             text

# -----------------------------------------------------------
# Documentation Files
# -----------------------------------------------------------

# Markdown files
*.ipynb              text
*.markdown           text diff=markdown
*.md                 text diff=markdown
*.mdwn               text diff=markdown
*.mdown              text diff=markdown
*.mkd                text diff=markdown
*.mkdn               text diff=markdown
*.mdtxt              text
*.mdtext             text
*.txt                text

# Documentation files
AUTHORS              text
CHANGELOG            text
CHANGES              text
CONTRIBUTING         text
COPYING              text
copyright            text
*COPYRIGHT*          text
INSTALL              text
license              text
LICENSE              text
NEWS                 text
readme               text
*README*             text
TODO                 text

# -----------------------------------------------------------
# Template Files
# -----------------------------------------------------------

# Template files for various templating engines
*.dot                text
*.ejs                text
*.erb                text
*.haml               text
*.handlebars         text
*.hbs                text
*.hbt                text
*.jade               text
*.latte              text
*.mustache           text
*.njk                text
*.phtml              text
*.svelte             text
*.tmpl               text
*.tpl                text
*.twig               text
*.vue                text

# -----------------------------------------------------------
# Docker
# -----------------------------------------------------------

# Dockerfile
Dockerfile           text

# -----------------------------------------------------------
# Graphics Files
# -----------------------------------------------------------

# Binary images
*.ai                 binary
*.bmp                binary
*.eps                binary
*.gif                binary
*.gitv               binary
*.ico                binary
*.jng                binary
*.jp2                binary
*.jpg                binary
*.jpeg               binary
*.jpx                binary
*.jxr                binary
*.pdf                binary
*.png                binary
*.psb                binary
*.psd                binary
*.svgz               binary
*.tif                binary
*.tiff               binary
*.wbmp               binary
*.webp               binary

# SVG is treated as an asset (text by default)
*.svg                text

# If you want to treat .svg as binary, uncomment the following line
#*.svg                binary

# -----------------------------------------------------------
# Audio Files
# -----------------------------------------------------------

# Binary audio formats
*.kar                binary
*.m4a                binary
*.mid                binary
*.midi               binary
*.mp3                binary
*.ogg                binary
*.ra                 binary
*.flac               binary
*.wav                binary

# -----------------------------------------------------------
# Video Files
# -----------------------------------------------------------

# Binary video formats
*.3gpp               binary
*.3gp                binary
*.as                 binary
*.asf                binary
*.asx                binary
*.avi                binary
*.fla                binary
*.flv                binary
*.m4v                binary
*.mng                binary
*.mov                binary
*.mp4                binary
*.mpeg               binary
*.mpg                binary
*.ogv                binary
*.swc                binary
*.swf                binary
*.webm               binary

# -----------------------------------------------------------
# Archive Files
# -----------------------------------------------------------

# Compressed and archive formats
*.7z                 binary
*.gz                 binary
*.jar                binary
*.war                binary
*.rar                binary
*.tar                binary
*.zip                binary

# -----------------------------------------------------------
# Font Files
# -----------------------------------------------------------

# Binary font formats
*.ttf                binary
*.eot                binary
*.otf                binary
*.woff               binary
*.woff2              binary

# -----------------------------------------------------------
# Executable Files
# -----------------------------------------------------------

# Executables and compiled files
*.exe                binary
*.pyc                binary

# -----------------------------------------------------------
# Windows Specific Files
# -----------------------------------------------------------

# Ensure that these Windows files always have CRLF line endings
*.sln                text eol=crlf
*.props              text eol=crlf
*.vcxproj            text eol=crlf
*.vcxproj.filters    text eol=crlf

# Templatized versions
*.sln.tmpl           text eol=crlf
*.props.tmpl         text eol=crlf
*.vcxproj.tmpl       text eol=crlf

# -----------------------------------------------------------
# SQL Files
# -----------------------------------------------------------

# SQL files (set linguist-detectable to true)
*.sql linguist-detectable=true
*.sql linguist-language=sql
