name: Mega Linter

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

permissions: read-all

jobs:
  mega-linter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install PNPM
        run: npm install --global pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run MegaLinter
        run: npx mega-linter-runner --path .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
